main a {
  color: white;
}

header a {
  color: white;
  text-decoration: none;
}

.btn-color {
  background-color: #004489;
}

body {
  color: white;
  text-align: center;
  background: #007cc3;
}

.footer-style {
  font-family: "Dosis", sans-serif;
  background: #004489;
  font-stretch: expanded;
}

.footer-button {
  color: white;
  border: none;
  text-decoration-line: none;
}

.modal {
  color: black;
  font-size: 14px;
  text-align: left;
}

.modal-content h1 {
  padding-top: 0.25em;
  font-size: 1.75rem;
}

.modal-content h2 {
  padding-top: 0.3em;
  font-size: 1.25rem;
}

.modal-content h3 {
  padding-top: 0.25em;
  font-size: 1rem;
}

.version-tag {
  margin-top: 2px;
  font-size: 0.75em;
}

.footer-icon {
  height: 26px;
  margin-right: 0.4em;
}

.app-title {
  font-family: "Dosis", sans-serif;
  font-size: 50px;
  font-weight: 700;
  padding: 30px;
}

.subtitle {
  font-family: "Dosis", sans-serif;
  font-size: 18px;
  color: white;
}
