/************ Base Layout ************/
body {
  margin: 0;
  text-align: center;
}

a {
  color: rgb(18, 74, 79);
}

.app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: 72vh;
  flex: 1 0 auto;
}

header a {
  text-decoration: none;
}

.app-logo {
  max-height: 200px;
  max-width: 650px;
  width: 95%;
  height: auto;
  padding: 0;
  margin-bottom: 5px;
  flex: 0;
}

.vendor-logo:hover {
  --webkit-transform: scale(1.05);
  transform: scale(1.05);
}

header {
  justify-content: space-between;
  display: flex;
  padding-left: 35px;
  padding-right: 35px;
  padding-top: 20px;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 600;
  padding: 30px;
}

.app-subtitle {
  color: rgb(18, 74, 79);
  font-weight: 600;
  letter-spacing: 0.05em;
  margin-bottom: 2.5rem;
}

/************ Protokoll ************/

.protokoll {
  overflow-y: auto;
  text-align: left;
}

.row > .col > .card {
  color: black;
  margin-top: 1em;
}

.protokoll-card {
  color: black;
  min-height: 150px;
}


.card-body {
  text-align: left;
}

/************ Log ************/
.log-entry {
  margin: 0;
  padding: 0.3rem;
  display: flex;
}

.log-entry.expandable {
  cursor: pointer;
}

.log-entry > .icon {
  display: inline-block;
  width: 16px;
  margin-right: 6px;
  flex-shrink: 0;
}

.log-entry > .chevron > svg {
  transition: 0.2s ease transform;
}

.log-entry > .chevron.open > svg {
  transform: rotate(90deg);
}

.log-entry > .title {
  word-break: break-word;
}

.log-entry-container {
  margin-left: 12px;
  padding-bottom: 8px;
}

/************ Carousel ************/

.carousel {
  color: rgb(111, 111, 111);
  width: 100%;
  font-size: 1.125rem;
  margin-bottom: 0.625rem;
}

.carousel-inner {
  padding-right: 50px;
  padding-left: 50px;
}

.carousel-control-next,
.carousel-control-prev {
  filter: invert(100%);
}

/************ Dropzone ************/

input {
  border-radius: 5px;
  background-color: white;
  color: black;
}

.dropzone-wrapper {
  display: flex;
  justify-content: center;
}

.dropzone-text-disabled {
  color: rgb(124, 124, 124) !important;
}

.dropzone-text-file {
  color: rgb(49, 49, 49) !important;
}

.dropzone-text-error {
  color: rgb(193, 0, 38) !important;
  border-color: rgb(193, 0, 38) !important;
}

.dropzone-icon {
  margin-right: 10px;
}

.nutzungsbestimmungen-input {
  font-size: 0.90625rem;
}

.terms-of-use {
  margin: 8px;
  margin-left: 35px;
}

.terms-of-use button {
  color: rgb(18, 74, 79);
  text-decoration: none;
  font-size: 0.90625rem;
  font-weight: 600;
  letter-spacing: 0.05em;
  padding: unset;
  margin: unset;
  vertical-align: unset;
}

.terms-of-use button:hover {
  color: rgb(63, 97, 100);
}

.terms-of-use input {
  margin-right: 8px;
}

.drop-icon {
  font-size: 2.1875rem;
}

.spinner {
  margin-top: 0.625rem;
  align-self: center;
}

/************ Title ************/

.title-wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

/************ Media queries ************/

@media screen and (max-width: 10000px) {
  .title-wrapper {
    margin-top: 12vh;
  }
  .dropzone {
    min-height: 12vh !important;
    margin-top: 3vh;
    font-size: 1rem;
  }
  .carousel {
    font-size: 1.25rem;
  }
  .vendor-logo {
    max-height: 70px;
    max-width: 200px;
  }
  .app-logo {
    max-height: 200px;
  }

}

@media screen and (max-width: 1200px) {
  .title-wrapper {
    margin-top: 12vh;
  }
  .dropzone {
    min-height: 12vh !important;
    margin-top: 3vh;
    font-size: 1rem;
  }
  .carousel {
    font-size: 1.125rem;
  }
  .vendor-logo {
    margin-left: 1.25rem;
    max-height: 50px;
    max-width: 150px;
  }
  .app-logo {
    max-height: 150px;
  }
}

@media screen and (max-width: 800px) {
  .title-wrapper {
    margin-top: 5vh;
  }
  .dropzone {
    min-height: 10vh !important;
    margin-top: 1vh;
    font-size: 0.875rem;
  }
  .carousel {
    font-size: 0.875rem;
  }
  .app-logo {
    max-height: 100px;
  }
}

/************ Buttons & Icons ************/

.button-wrapper {
  display: flex;
  justify-content: center;
}

.btn {
  letter-spacing: 0.05em;
  font-size: 1rem;
}

.check-button {
  border: none;
  background-color: rgb(18, 74, 79);
  border-color: rgb(18, 74, 79);
  vertical-align: baseline;
  margin-top: 1rem;
}

.check-button:disabled {
  background-color: rgba(18, 74, 79, 0.6);
  border-color: rgba(18, 74, 79, 0.6);
}

.check-button:hover {
  background-color: rgb(63, 97, 100);
  border-color: rgb(63, 97, 100);
}

.invisible-check-button {
  display: none;
}

.added-margin {
  margin-top: 1.25rem;
}

.download-icon {
  font-size: 1.9rem;
  margin-left: 10px;
}

.download-icon :hover {
  color: #555;
}

/************ Check status ************/

.valid {
  color: rgb(25, 135, 84);
}

.errors {
  color: rgb(193, 0, 38);
}

/************ Tooltips ************/

.icon-tooltip {
  position: relative;
  display: inline-block;
}

.icon-tooltip .icon-tooltip-text {
  font-size: 0.624rem;
  visibility: hidden;
  width: 260px;
  background-color: rgb(85, 85, 85);
  color: rgb(255, 255, 255);
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  margin-left: -145px;
  opacity: 0;
  transition: opacity 0.3s;
}

.icon-tooltip .icon-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(85, 85, 85) transparent transparent transparent;
}

.icon-tooltip:hover .icon-tooltip-text {
  visibility: visible;
  opacity: 1;
}

/************ Footer ************/
footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
}

.footer-button.btn-link {
  color: rgb(18, 74, 79);
  font-size: 1rem;
  border: none;
  text-decoration-line: none;
}

.footer-button:hover {
  background-color: rgba(18, 74, 79, 0.04);
}

/************ Modals ************/

.modal {
  color: black;
  text-align: left;
}

.modal-content h1 {
  padding-top: 0.25em;
}

.modal-content h2 {
  padding-top: 0.3em;
}

.modal-content h3 {
  padding-top: 0.25em;
  font-size: 1rem;
}


.modal .btn {
  border-color: rgb(18, 74, 79);
  color: rgb(18, 74, 79);
}

.modal .btn:hover {
  background-color: rgb(18, 74, 79);
  color: white;
}

.about-licenses p {
  margin-bottom: 0.4rem;
}

.about-licenses h3 {
  padding-top: 1em;
}

/************ Banner ************/

.banner {
  color: white;
  position: fixed;
  background-color: rgb(18, 74, 79);
  border: none;
  border-radius: 0;
  display: flex;
  padding-right: 10px;
  padding-left: 10px;
  text-align: left;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

.banner a {
  color: white;
}

.banner h1 {
  flex-shrink: 0;
  padding-left: 15px;
  padding-right: 25px;
  margin-top: 10px;
}

.banner p {
  margin-top: 10px;
}

.banner .close-icon {
  margin-left: 20px;
  margin-right: 15px;
  cursor: pointer;
  font-size: 2.5rem;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

