/*setting the font size of the root element to 62.5% when using rem units is to make it easier to calculate font sizes in rem units. 62.5% of the default font size (which is typically 16px) is 10px. This means that 1rem is equal to 10px, making it easier to calculate font sizes in rem units.*/
:root {
  font-size: 62.5%;
}

body {
  letter-spacing: 0.05em;
  font-family: "NeoGeo", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.8rem;
}

h2 {
  font-size: 2.4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.8rem;
}

h5 {
  font-size: 1.6rem;
}

h6 {
  font-size: 1.4rem;
}

p, li, span {
  font-size: 1.6rem;
}

b {
  font-weight: 600;
  letter-spacing: 0.05em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@font-face {
  font-family: 'NeoGeo';
  src: url('./fonts/NeoGeo-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'NeoGeo';
  src: url('./fonts/NeoGeo-LightItalic.woff2') format('woff2');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'NeoGeo';
  src: url('./fonts/NeoGeo-SemiBold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'NeoGeo';
  src: url('./fonts/NeoGeo-SemiBoldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
}